In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import io
%cd "C:\Users\hp\Desktop\MPG dataset"

C:\Users\hp\Desktop\MPG dataset

In [3]:
df_mpg = pd.read_csv("Auto MPG Reg.csv")

In [4]:
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin,carname
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [5]:
df_mpg.drop("carname", axis=1, inplace=True)

In [6]:
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1
394,44.0,4,97.0,52,2130,24.6,82,2
395,32.0,4,135.0,84,2295,11.6,82,1
396,28.0,4,120.0,79,2625,18.6,82,1
397,31.0,4,119.0,82,2720,19.4,82,1

In [7]:
X = df_mpg.drop("mpg", axis=1)

In [8]:
X

,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin
0,8,307.0,130,3504,12.0,70,1
1,8,350.0,165,3693,11.5,70,1
2,8,318.0,150,3436,11.0,70,1
3,8,304.0,150,3433,12.0,70,1
4,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...
393,4,140.0,86,2790,15.6,82,1
394,4,97.0,52,2130,24.6,82,2
395,4,135.0,84,2295,11.6,82,1
396,4,120.0,79,2625,18.6,82,1
397,4,119.0,82,2720,19.4,82,1

In [9]:
y = df_mpg.mpg

In [10]:
y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [11]:
X.horsepower = X.horsepower.replace("?", "")

In [12]:
X.horsepower = pd.to_numeric(X.horsepower, errors = "coerce")

In [13]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     398 non-null    int64
 1   displacement  398 non-null    float64
 2   horsepower    392 non-null    float64
 3   weight        398 non-null    int64
 4   acceleration  398 non-null    float64
 5   modelyear     398 non-null    int64
 6   origin        398 non-null    int64
dtypes: float64(3), int64(4)
memory usage: 21.9 KB

In [14]:
X.horsepower = X.horsepower.fillna(X.horsepower.median())

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lrm = LinearRegression()

In [19]:
lrm

LinearRegression()

In [20]:
lrm.fit(X,y)

LinearRegression()

In [18]:
lrm.score(X,y)

0.8209467359784418

In [19]:
reg_pre = lrm.predict(X)

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
np.sqrt(mean_squared_error(y,reg_pre))

3.3031516852343707

In [22]:
### for deployment the model needsto be converted into pickle (.pkl)  or joblib (.sav) file
import joblib

In [23]:
joblib.dump(lrm, "reg_model.sav")

['reg_model.sav']